.git
.gitignore
.env.example
.env.*.local
.env.testing
node_modules
npm-debug.log
storage/logs/*
bootstrap/cache/*
vendor
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.php_cs.cache
.PHPUnit.result.cache
phpunit.xml
tests/
README.md
LICENSE
